<% content_for :title, "Resume Builder |Best Resume templates |Best Resume format -TalentFore" %>
<% content_for :description, "Resume builder helps you Build your resume just in 10 mins. Make impressive online resumes with Talentfore. It brings you the best resume templates for making distinguished resumes. Explore multiple templates & use appropriate formats. An effortless crafting, that will gain you a first-class impression." %>
<% content_for :keywords, "Resume builder, Build your resume, online resumes, best resume templates, high-quality phrases, resume formats and templates, resume templates, best resume, curriculum vitae, ATS friendly resumes, Curriculum Vitae" %>
<div class="container margin-top-20">
  <div class="row page-desc">
    <div class="col-md-12 text-center">
      <h1 class="page-head">Resume Pricing</h1>
      <h4>
        Please choose a plan below to download your resume.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <th class="text-center" rowspan="2" style="vertical-align: middle;">Features</th>
          <% @plans.each do |plan| %>
            <th class="text-center">
              <span class="plan-name"><%= plan.plan_name %></span><br/>
              <span class="plan-price">
                <%= plan_price_text(plan) %>
              </span>
            </th>
          <% end %>
        </thead>
        <tbody>
          <% resume_features.each do |feature_key, feature_value| %>
            <tr>
              <td><%= feature_value %></td>
              <% @plans.each do |plan| %>
                <td class="text-center">
                  <%= plan_feature_value(plan.features[feature_key]) %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td class="text-center">
              <%= link_to "Sign Up (Only #{number_to_currency(@plans.first.plan_price)})", share_and_download_digital_cv_path(@digital_cv), class: 'btn btn-default talent-fore-btn color-white' %>
              <br />
              <span>(One time payment)</span>
              <br /><br />
              <span>Free till May 31st, 2018</span>
            </td>
            <td class="text-center">
              <%= link_to "Sign Up ( Only #{number_to_currency(@plans.last.plan_price)})", share_and_download_digital_cv_path(@digital_cv), class: 'btn btn-default talent-fore-btn color-white' %>
              <br />
              <span>(Valid for 3 months)</span>
              <br /><br />
              <span>Free till May 31st, 2018</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
