<% content_for :title, "Resume Builder |Best Resume templates |Best Resume format -TalentFore" %>
<% content_for :description, "Resume builder helps you Build your resume just in 10 mins. Make impressive online resumes with Talentfore. It brings you the best resume templates for making distinguished resumes. Explore multiple templates & use appropriate formats. An effortless crafting, that will gain you a first-class impression." %>
<% content_for :keywords, "Resume builder, Build your resume, online resumes, best resume templates, high-quality phrases, resume formats and templates, resume templates, best resume, curriculum vitae, ATS friendly resumes, Curriculum Vitae" %>
<div class="container margin-top-20">
  <div class="row page-desc">
    <div class="col-md-12 text-center">
      <h1 class="page-head">Resume Pricing</h1>
      <h4>
        Please choose a plan below to download your resume.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <th class="text-center" rowspan="2" style="vertical-align: middle;">Features</th>
          <% @plans.each do |plan| %>
            <th class="text-center">
              <span class="plan-name"><%= plan.plan_name %></span><br/>
              <span class="plan-price">
                <%= plan_price_text(plan) %>
              </span>
            </th>
          <% end %>
        </thead>
        <tbody>
          <% resume_features.each do |feature_key, feature_value| %>
            <tr>
              <td><%= feature_value %></td>
              <% @plans.each do |plan| %>
                <td class="text-center">
                  <%= plan_feature_value(plan.features[feature_key]) %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td class="text-center">
              <%= link_to "Sign Up (Only #{number_to_currency(@plans.first.plan_price)})", share_and_download_digital_cv_path(@digital_cv), class: 'btn btn-default talent-fore-btn color-white' %>
              <br />
              <span>(One time payment)</span>
              <br /><br />
              <span>Free till May 31st, 2018</span>
            </td>
            <td class="text-center">
              <%= link_to "Sign Up ( Only #{number_to_currency(@plans.last.plan_price)})", share_and_download_digital_cv_path(@digital_cv), class: 'btn btn-default talent-fore-btn color-white' %>
              <br />
              <span>(Valid for 3 months)</span>
              <br /><br />
              <span>Free till May 31st, 2018</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center heading1 margin-bottom-50">Frequently Asked Questions</h1>
  </div>
  <div class="row">
    <div id="accordion" class="panel-group">
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            Why I must pay to use TalentFore Resume builder?
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <p class="text-justify margin-left-20">
            Preparing a resume is like investing for your future career. No one wants to break the rules of a good resume and lose out on a great job. To ensure you prepare your resume based on the latest search trends by recruiters, you should prepare your resume using the right layout and right keywords. Our resume builder tool helps you exactly do the same. We charge a nominal fee for it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            If I’ve never created a resume before, how do I get started?
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Creating a resume is very easy using TalentFore Resume Builder, just select the template you want and follow the instructions to fill in the correct details and in 10 minutes your impressive resume will be ready.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            What should be included on a resume?
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Our Resume Builder tool is designed in such a way that it will ensure that you fill the required fields which any recruiter would like to see. It also has Optional fields which you can decide to use based on your job application requirement which will help your resume stand out from the lot.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            What are the absolute, unbreakable rules of resume writing?
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            There are only two absolute rules you should adhere to:
            <ul>
              <li>No typos or misspellings.</li>
              <li>Write the truth.</li>
            </ul>
            Anything else can be justified if you have a compelling reason behind it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            What are keywords and how should I use them in my resume?
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Overloaded with resumes from job-seekers, employers have increasingly relied on digitising resumes, placing those resumes in keyword- searchable database, and using those softwares to search those databases for specific keywords that relate to job vacancies. Our suggested responsibilities are prepared with using the right keywords, select the text matching your role
            and be assured that your resume will be shortlisted for the right key keyword. It is safe to estimate that well over 90 percent of resumes are searched for job-specific keywords.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <span class="glyphicon glyphicon-plus site-color"></span>
            </a>
            Do TalentFore resumes help score better on ATS ?
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes. Use of our suggested Responsibility phrases ensures better chance of your resume getting shortlisted when companies use ATS as it has all the job specific keywords.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Can I edit texts while making resumes?
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes. Talentfore brings you the prominent text editor, through which you can easily edit the texts of your resume and draft it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Can I use links of other professional accounts (like - LinkedIn) in the resume while making?
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes. You can include your LinkedIn or other professional links in the talentfore resume.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Can I create resume links through talentfore?
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes. Including the download option, we also provide you to create an URL of your resume and use it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Is my data/information safe?
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes, absolutely. Everything you do in the TalentFore website is on completely over HTTPS – your data is fully encrypted by an SSL connection and accessed over the internet.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            How soon can I start using your service?
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            You need to login /sign up and login on our website. On pressing Download you will be directed to the Pricing and Plans page. Select the plan and make the payment using the payment gateway. Once your payment is approved you will be immediately able to access the services as per the plan.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Do you charge separately for every Resume I create?
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            We have 2 plans - Per resume Plan and multiple resume plan, select the plan which best suits your requirement.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Do I need more than one version of my resume?
          </h4>
        </div>
        <div id="collapseThirteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Today, every recruiter is searching resumes based on Job specific skills, if you multiple skills you should prepare separate resume for each Job specific skills to meet the specific requirements.When you’re applying to different jobs and different employers, you need different resumes to fit each one.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Can I access all templates after I buy a plan?
          </h4>
        </div>
        <div id="collapseFourteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes, access to all templates are allowed under all plans. You need to select the plan basis your requirement on number of Resumes you need.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Is my payment secure?
          </h4>
        </div>
        <div id="collapseFifteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes, it's 100% secure. The gateway we use for making payments is highly ensured. Once you make your payment, all the promised services will be followed until the duration ends.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Do you have customer support system?
          </h4>
        </div>
        <div id="collapseSixteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes. We support our customers through emails. All emails are responded in 1 Business day and if the resolution takes longer the same will be updated within 1 Business day.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            I deleted my resume by accident. What do I do?
          </h4>
        </div>
        <div id="collapseSeventeen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            There are least chances of accidentally deleting. You will see a pop-up menu appearing while you will press the delete button and then you can select cancel to keep it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            Can I export my data from TalentFore?
          </h4>
        </div>
        <div id="collapseEighteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            Yes you have the option of downloading the resumes in both PDF and DOCX formats.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            I worry about sharing my personal information on any website?
          </h4>
        </div>
        <div id="collapseNineteen" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            The Resume Builder maintains a strict confidentiality clause with every client. No information disclosed between yourself and our resume consultant will be shared with any third party for any purpose under any circumstance, unless you consent to it.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            I forgot my password! How do I reset it?
          </h4>
        </div>
        <div id="collapseTwenty" class="panel-collapse collapse">
          <p class="text-justify margin-left-20">
            You can easily go to your log-in credential – select forgot password – give your registered email id - one email will be sent to you, through that link you can create a new password.
          </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            What will happen to my document after the expiry of my plan?
          </h4>
        </div>
        <div id="collapseTwentyOne" class="panel-collapse collapse">
            <p class="text-justify margin-left-20">
              It will automatically be deleted from the server.
            </p>
        </div>
      </div>
      <div>
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo">
              <span class="glyphicon glyphicon-plus  site-color"></span>
            </a>
            How your resume & cover letter templates are special?
          </h4>
        </div>
        <div id="collapseTwentyTwo" class="panel-collapse collapse">
            <p class="text-justify margin-left-20">
              The resume & Cover letter templates we used have been recommended by recruitment professionals. Our templates are designed such a way that stands out and makes a better impression on you.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
