<div class="row devise-forms">
  <div class="container">
    <%= image_tag "login_manager.png", alt: 'login manager', class: 'img-circle' %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'register-form' }) do |f| %>

      <div class="col-sm-offset-1 col-sm-10 no-padding">
        <%= f.error_notification %>
      </div>
      
      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.label :user_type, 'I am a', class: 'control-label col-sm-2 pull-left no-padding',style: 'text-align: left !important;' %>
          <div class="col-sm-10 no-padding" id="user_type_selected">
            <% registration_form_user_types .each do |user_type| %>
              <%= f.radio_button :user_type_id, user_type.id, class: 'radio-inline'%>
              <%= user_type.title %>  
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group <%= f.object.errors.messages[:email].present? ? 'has-error' : '' %>">
        <div class="input-group col-sm-7 col-sm-offset-1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter Email', class: 'form-control' %>
        </div>
        <% if f.object.errors.messages[:email] %>
          <span class="help-block">
            <%= f.object.errors.messages[:email].join(', ') %>
          </span>
        <% end %>
      </div>

      <div class="form-group <%= f.object.errors.messages[:first_name].present? ? 'has-error' : '' %>">
        <div class="input-group col-sm-7 col-sm-offset-1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <%= f.text_field :first_name, placeholder: 'Enter First Name', class: 'form-control' %>
        </div>
        <% if f.object.errors.messages[:first_name] %>
          <span class="help-block">
            <%= f.object.errors.messages[:first_name].join(', ') %>
          </span>
        <% end %>
      </div>

      <div class="form-group <%= f.object.errors.messages[:last_name].present? ? 'has-error' : '' %>">
        <div class="input-group col-sm-7 col-sm-offset-1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <%= f.text_field :last_name, placeholder: 'Enter Last Name', class: 'form-control' %>
        </div>
        <% if f.object.errors.messages[:last_name] %>
          <span class="help-block">
            <%= f.object.errors.messages[:last_name].join(', ') %>
          </span>
        <% end %>
      </div>
      <div class="form-group <%= f.object.errors.messages[:password].present? ? 'has-error' : '' %>">
        <div class="input-group col-sm-7 col-sm-offset-1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Enter password" %>
        </div>
        <p class="help-block">
        <%= ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        </p>
        <% if f.object.errors.messages[:password] %>
          <span class="help-block">
            <%= f.object.errors.messages[:password].join(', ') %>
          </span>
        <% end %>
      </div>

      <div class="form-group <%= f.object.errors.messages[:password_confirmation].present? ? 'has-error' : '' %>">
        <div class="input-group col-sm-7 col-sm-offset-1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Re-enter password" %>
        </div>
        <% if f.object.errors.messages[:password_confirmation] %>
          <span class="help-block">
            <%= f.object.errors.messages[:password_confirmation].join(', ') %>
          </span>
        <% end %>
      </div>
      <%= render partial: "new_company_form", locals: { f: f}%>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <%= f.button :submit, "Register", class: 'btn btn-default btn-lg btn-block color-white talent-fore-btn' %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-offset-1 col-sm-10 signin-text">
      <div class="pull-left">
        Already a TalentFore member? Just <a href="/users/sign_in">Sign In</a>
      </div>
    </div>
  </div>
</div>
