<%= form_with(model: analytic, local: true) do |form| %>
  <% if analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analytic.errors.count, "error") %> prohibited this analytic from being saved:</h2>

      <ul>
      <% analytic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :analytic_type %>
  </div>

  <div class="field">
    <%= form.label :view_count %>
    <%= form.text_field :view_count, id: :analytic_view_count %>
  </div>

  <div class="field">
    <%= form.label :vote_count %>
    <%= form.check_box :vote_count, id: :analytic_vote_count %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, id: :analytic_ip_address %>
  </div>

  <div class="field">
    <%= form.label :session_hash %>
    <%= form.text_field :session_hash, id: :analytic_session_hash %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
