<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12">
      <%= @job.company.name %>, <%= @job.location %>, India
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-sm-12 col-xs-12 col-md-12" id="job_status_row">
      <% if !user_signed_in? %>
        <div class="alert alert-danger">
          Please login to apply!
        </div>
        <% elsif policy(@job).job_status_update? %>
          <% if ["Position Closed", "Position Filled", "On hold", "Draft"].include? @job.job_status %>
            <div class='pull-left'>
              <strong>Job Status:</strong>
              <%= @job.job_status %>
            </div>
            <% else %>
            <%= form_for @job, url: job_status_update_job_path(@job), remote: true do |form| %>
              <div class="form-group">
                <%= form.label :job_status, class: "control-label" %>
                <%= form.radio_button :job_status,"Position Closed" %>
                <%= form.label :job_status, "Position Closed", class: 'radio-label' %>
                <%= form.radio_button :job_status,"Position Filled" %>
                <%= form.label :job_status, "Position Filled", class: 'radio-label' %>
                <%= form.radio_button :job_status,"On hold"  %>
                <%= form.label :job_status, "On hold", class: 'radio-label' %>
              </div>
              <div class="form-group">
                <%= form.submit "Update Job Status", class: 'btn btn-primary',style:"background:#4B7892;"%>
              </div>
            <% end %>
          <% end %>
        <% elsif current_user.has_applied?(@job.id)%>
          <div class="alert alert-success">
            You have already applied to this job!
          </div>
        <% elsif @job.job_status == "Closed" || @job.job_status == "On hold" %>
          <div class="alert alert-info close">
            <span>The opening of this job is On hold/Closed</span>
          </div>
        <% else %>

        <%#= link_to "Submit CV", apply_job_path(@job), class: "btn btn-link", remote: true  %>
          <button type="button" class="btn btn-primary talent-fore-btn" data-toggle="modal" data-target="#myModal">Submit CV</button>
      <% end %>
    </div>
  </div>
</div>
