<% unless @jobs.empty? %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <% @jobs.each do |job| %>
        <div class="job-content padding-5">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
              <%= link_to job.title, job  %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
              <%= job.company.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-3 col-md-3">
              <%= fa_icon 'briefcase' %>&nbsp;
              <%= job.experience || '0 - 0' %> years
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9">
              <%= fa_icon 'map-marker', style: 'color: red' %>&nbsp;
              <strong><%= job.location %></strong>, India
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-3 col-md-3">
              <strong>Skills Required:</strong>
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9">
              <%= job.skills.collect(&:title).join(", ").truncate(60,separator: /\s/) %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-3 col-md-3">
              <strong>Job Description:</strong>
            </div>
            <div class="col-sm-9 col-xs-9 col-md-9">
              <%=
                truncate(strip_tags(job.description), :length => 100, escape: false){ link_to 'see more', job, :class => "btn btn-link"
                }
              %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4">
              <strong>Posted By:</strong>
              <%= job.user.try(:name) || "Unknown" %>
            
            <!--div class="col-sm-8 col-xs-8 col-md-8 text-right"-->
              <strong>Posted On:</strong>
              <%= job.created_at.strftime(" %b %d, %Y")  %>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= link_to 'Apply Now', job , class: "btn btn-primary talent-fore-btn" %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<% else %>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="job-content padding-5" style="margin-top: 25px; min-height: 300px;">
      <div class="text-center">
        <h1 class="heading1">
          We do not have any openings currently.
        </h1>
        <h4 class="heading4">
          Please send us your resume at
          <a href="mailto:info@talentfore.com">info@talentfore.com</a>
          and we'll contact you for any suitable opening.
        </h4>
      </div>
    </div>
  </div>
<% end %>
