<div class="container-fluid jobs">
  <%= render 'job_heading_searchbox' %>
  <div class='row background-grey' style="padding-bottom: 20px;">
    <div class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-8 col-sm-11 col-xs-11">
      <% if @job_applications.empty? %>
        <div class="well job-well">
          <h2>
            No one has applied for this job yet.
            <%= link_to 'Back', jobs_url %>
            <%#= link_to 'Apply now', jobs_url %>
          </h2>
        </div>
      <% else %>
        <table class="table table-bordered table-striped ">
          <thead style="background-color: #4B7892;color:white;">
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Resume</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @job_applications.each do |application| %>
              <tr>
                <td><%= link_to application.user.try(:name) || "Unknown", "javascript:void(0)" %></td>
                <td><%= application.user.try(:email) || "Unknown" %></td>
                <td><%= link_to "Download",  application.document.url(:original, false) %></td>
                <td><span><%= application.status || "No Comment" %></span></td>
                <td>
                  <%= link_to "Change status", job_application_update_jobs_path(application_id: application.id), class: "btn btn-link", remote: true  %>

                  <!--button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Comment</button-->

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <!-- <div class="col-md-2 col-sm-2 applied-jobside">
      <div class="row">
        <div class="col-md-12">
          <h4>Advertisement for cv</h4>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div id="job_status" class="modal fade">
</div>
