<div class="jd-company-fields hide">
  <div class="form-group required">
    <%= f.label :name, 'Company Name', class: 'control-label text-right col-sm-3' %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control', disabled: true %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label :website, 'Website', class: 'control-label text-right col-sm-3' %>
    <div class="col-sm-8">
      <%= f.text_field :website, class: 'form-control', disabled: true %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label :about, 'About Company', class: 'control-label text-right col-sm-3' %>
    <div class="col-sm-8">
      <%= f.text_area :about, class: 'form-control', disabled: true, rows: 6 %>
    </div>
  </div>
</div>
