<%
  if session[:jd]["position_details"]
    job_title = JobTitle.find_by(id: session[:jd]['position_details']['job_title_id']).try(:title)
    reporting_to_title = JobTitle.find_by(id: session[:jd]['position_details']['reporting_to_id']).try(:title)
    location = session[:jd]["position_details"]["location"]
    min_exp = session[:jd]["position_details"]["min_exp"]
    max_exp = session[:jd]["position_details"]["max_exp"]
    divison = session[:jd]["position_details"]["divison"]
    job_type = session[:jd]["position_details"]["job_type"]
    qualification = session[:jd]["position_details"]["qualification_id"]
    working_days = session[:jd]["position_details"]["working_days"]
    openings = session[:jd]["position_details"]["openings"]

    company_id = session[:jd]['position_details']['company_id'].present? ? session[:jd]['position_details']['company_id'] : nil
    company_detail = Company.select('id, name, website, about').find(company_id) unless company_id.nil?
  end

  if session[:jd]["application_process"]
    to_apply = session[:jd]["application_process"]["to_apply"]
  end

  if session[:jd]["job_requirements"]
    essential_skills = Skill.where(id: session[:jd]["job_requirements"]["essential_skills"]).collect(&:title)

    optional_skills = Skill.where(id: session[:jd]["job_requirements"]["optional_skills"]).collect(&:title)

    education_requirements = session[:jd]["job_requirements"]["education_requirements"]
    work_requirements = session[:jd]["job_requirements"]["work_requirements"]
  end

  if session[:jd]['job_responsibilities']
    job_responsibilities = JobResponsibility.where(id: session[:jd]['job_responsibilities']['responsibility_ids']).group_by(&:responsibility_type)
  end
%>

<!--p>################Downloadhtml Template-###################<p/-->
<div class="container">
  <div class="row" style="padding: 20px 0;">
    <div class="col-md-12">
      <div class="pull-right">
        <%= link_to  download_job_description_creators_path(format: :pdf), class: 'btn btn-primary' do%>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-xs-12 col-md-offset-1 jd-template">
        <div class="row">
          <div class="col-xs-12">
            <div class=" col-xs-6">
              <h3><strong><%= job_title %></strong></h3>
              <% if min_exp || max_exp %>
                <h5><strong> Experience: </strong><%= min_exp %>&nbsp;-&nbsp;<%= max_exp %> &nbsp; years</h5>
              <% end %>
              <% if location %>
                <h5><strong>Location: &nbsp; </strong><%= location %></h5>
              <% end %>
              <% if divison %>
                <h5><strong>Department: </strong><%= divison %></h5>
              <% end %>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 col-xs-push-1 pull-right ">
                <%= link_to image_tag("/assets/logo-beta.png", class:"img-responsive", size: '150x50') %>
              </div>
            </div>
          </div>
        </div>
        <% if company_detail.present? %>
          <div class="row">
            <div class="col-xs-12 company-details" style="margin-left:12px;">
              <h5><strong>Company Name: </strong>
                <%= company_detail["name"] %>
              </h5>
              <h4 style="font-weight: bold; margin-top: 30px;">About Company</h4>
              <p class="text-justify">
                <%= company_detail["about"] %>
              </p>
              <p>
                <strong>Website: </strong>
                <% website = !(company_detail["website"][/\Ahttp:\/\//] || company_detail["website"][/\Ahttp:\/\//]) ? 'http://'+company_detail["website"] : company_detail["website"] %>
                <%= link_to company_detail["website"], website, target: '_blank' %>
              </p>
            </div>
          </div>
        <% end %>
        <% if openings.present? %>
          <div class="row">
            <div class="col-xs-12" style="margin-left:10px;">
              <h4><strong>Openings: </strong><%= openings %></h4>
            </div>
          </div>
        <% end %>

        <% if job_responsibilities || work_requirements || education_requirements %>
          <h3 style="font-weight: bold; margin-left: 10px;">
            Job Description:
          </h3>
        <% end %>

        <% if job_responsibilities.present? %>
          <div class="row" style="margin-left:10px;">
            <h4><strong>Responsibilities:</strong></h4>
          </div> 
          <% job_responsibilities.each do |k, resp| %>
            <div class="row" style="margin-left:10px;">
              <h5><strong><%= resp_type(k.to_i) %></strong></h5>
            </div>
            <ul class="template">  
              <% resp.each do |res| %>
                <div class= "row">
                  <li><%= res['responsibility_text'] %></li>
                </div>  
              <% end %>
            </ul>  
          <% end %>
        <% end %>   
        
        <% if work_requirements.reject!(&:blank?).present? || education_requirements.reject!(&:blank?).present? %>
          <div class="row" style="margin-left:10px;">
            <h4><strong>Requirements:</strong></h4>
          </div>
        <% end %>

        <% if work_requirements.present? %>
          <div class="row" style="margin-left:10px;">
            <h5><strong>Work Requirements</strong></h5>
          </div>
          <ul class="template">            
            <% work_requirements.each do |resp| %>
              <div class="row" >
               <li><%= resp %></li>
              </div>  
            <% end %>
          </ul>    
        <% end %>
        <% if education_requirements.present? %>
          <div class="row" style="margin-left:10px;">
            <h5><strong>Qualification Requirements</strong></h5>
          </div>
          <ul class="template">
            <% education_requirements.each do |resp| %>
              <div class="row" >
                <li><%= resp %></li>
              </div>   
            <% end %>
          </ul>  
        <% end %>  
       
        <% if essential_skills || optional_skills %>
          <div class= "row">
            <div class="col-xs-12" style="margin-left: 12px;">
              <h3 style="font-weight: bold;">Skills</h3>
              <% if essential_skills %>
                <h5 style="margin-bottom: 0;"><strong>Must have</strong></h5>
                <%= essential_skills.join(', ') %>
              <% end %>

              <% if optional_skills %>
                <h5 style="margin-bottom: 0;"><strong>Optional</strong></h5>
                <%= optional_skills.join(', ') %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class= "row">
          <div class="col-xs-12" style="margin-left: 12px;">
            <% if qualification %>
              <h4 style="font-weight: bold; margin-bottom: 5px;">Qualification</h4>
              <p><%= qualification %></p>
            <% end %>
            <% if working_days %>
              <h4 style="font-weight: bold; margin-bottom: 5px;">Working Days</h4>
              <p><%= working_days %>&nbsp;in a week</p>
            <% end %>

            <% if reporting_to_title %>
              <h4 style="font-weight: bold; margin-bottom: 5px;">Reporting To</h4>
              <p><%= reporting_to_title %></p>
            <% end %>

            <% if job_type %>
              <h4 style="font-weight: bold; margin-bottom: 5px;">Job Nature</h4>
              <p><%= job_type %></p>
            <% end %>

            <% if to_apply %>
              <h4 style="font-weight: bold; margin-bottom: 5px;">Apply To :- </h4>
              <p><%= to_apply %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

