<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">

	img{
		width:80px;
		height:80px;
	}
	.pp-image{
		padding-left:41px;
	}

	hr{
		margin-top: -2px;
	}

	.container{
		background: #fff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	}

  .profile_social_url{
    max-width:154;
    word-wrap:break-word;
  }

 .existingEntry{
    margin-bottom: -35px !important;
  }
  h4{
    font-weight:500;
  }

  .employ_det_d{
    padding-top:0px !important;
  }

  h6 {
    word-break: break-all;
  }
</style>

<div class="container">
	<div class="template-2-data">
    <br><br>
    <div class="basic-info">
      <div class="col-md-10">
        <p class="text-capitalize">
          <h3><b><%= @digital_cv.personal_detail.try(:name) %></b></h3>
        </p>
        <% if @digital_cv.summary.present? %>
          <p><%= @digital_cv.summary %></p>
        <% end %>
      </div>
      <div class="col-md-2 pp-image ">
        <% if @digital_cv.photo.present? && @digital_cv.photo.image.present? %>
          <%= image_tag @digital_cv.photo.image.url(:thumb) %>
        <% else %>
          <%= image_tag "digital_cv/photo_cv.png", width: 160, height: 160 %>
        <% end %>
      </div>
    </div>
    <div class="personal-info col-md-3">
      <br>
      <% if @digital_cv.personal_detail.try(:email).present? %>
        <b>
          <h4 class="title">
            <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;PERSONAL INFO
          </h4>
        </b>
        <hr>
        <% if @digital_cv.personal_detail.try(:mobile).present? %>
          <div>
            <strong>Mobile Number:</strong>
            <p><%= @digital_cv.personal_detail.mobile %></p>
          </div>
        <% end %>
        <% if @digital_cv.personal_detail.try(:email).present? %>
          <div>
            <strong>Email:</strong>
            <p><%= @digital_cv.personal_detail.email %></p>
          </div>
        <% end %>
        <% if @digital_cv.personal_detail.try(:date_of_birth).present? %>
          <div>
            <strong>Date of birth:</strong>
            <p><%= @digital_cv.personal_detail.date_of_birth %></p>
          </div>
        <% end %>

        <% if @digital_cv.personal_detail.try(:linkedin_profile).present?  %>
          <div class="profile_social_url">
            <strong>Linkedin profile url:</strong>
            <p><%= @digital_cv.personal_detail.linkedin_profile %></p>
          </div>
        <% end %>

        <% if @digital_cv.personal_detail.try(:skype_username).present?  %>
          <div class="profile_social_url">
            <strong>Skype username:</strong>
            <p><%= @digital_cv.personal_detail.skype_username %></p>
          </div>
        <% end %>

        <% if @digital_cv.personal_detail.try(:address).present? %>
          <div>
            <strong>Address:</strong>
            <p><%= @digital_cv.personal_detail.address %></p>
          </div><br>
        <% end %>
      <% end %>
      <% if @digital_cv.cv_skills.size > 0 %>
        <div class="skills">
          <strong>
            <h5 class="title">
              <i class="fa fa-certificate" aria-hidden="true"></i
              >&nbsp; PROFESSIONAL SKILLS
            </h4>
          </strong>
          <hr><br>
          <div class="entryContainer content">
            <% for cv_skill in @digital_cv.cv_skills %>
              <div class="entry existingEntry" style="margin-bottom:10px;">
                <div class="pointer"></div>
                <h6 class="descShort">
                 <p><%= cv_skill.skill.title  %></p>
                </h6>
                <% skill_per = cv_skill.self_rating*20  %>
                <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= skill_per.to_s %>%">
                    <p></p>
                  </div>
                </div>
              </div>
              <br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="career-details col-md-9">
      <br>
      <% if @digital_cv.objective.present? %>
        <h4>
          <i class="fa fa-bullseye" aria-hidden="true"></i>&nbsp; Career Objective
        </h4>
        <hr>
        <section>
          <%= @digital_cv.objective %>
        </section>
        <br>
      <% end %>
      <% if @digital_cv.employment_details.present? %>
        <div>
          <h4><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; EXPERIENCE</h4>
          <table class="table">
            <% for employment_detail in @digital_cv.employment_details %>
              <tr>
                <td valign="top" width="5%">
                  <strong><%= employment_detail.start_date.strftime("%m/%Y") %>-
                    <% if employment_detail.present_job %>
                      Present
                    <% else %>
                      <%= employment_detail.end_date.strftime("%m/%Y") %>
                    <% end %>
                  </strong>
                </td>
                <td width="95%" valign="top" class="employ_det_d">
                  <h5><strong><%= employment_detail.job_title %></strong></h5>
                  <h6><%= employment_detail.company.name %></h6>
                  <p><%= employment_detail.key_area.html_safe %></p>
                  <p><%= employment_detail.achievement.html_safe %></p>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <% if @digital_cv.academic_details.present? %>
        <div>
          <h4>
           <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; EDUCATION DETAILS
         </h4>
         <table class="table">
            <% for academic_detail in @digital_cv.academic_details %>
              <tr>
                <td valign="top" width="5%">
                  <strong><%= academic_detail.start_date.strftime("%m/%Y") %>-
                    <%= academic_detail.end_date.strftime("%m/%Y") %>
                  </strong>
                </td>
                <td valign="top" width="95%" >
                  <p><strong><%= academic_detail.degree %></strong>&nbsp;in&nbsp;<%= academic_detail.specialization %> with <%= academic_detail.percentage %>% from <strong><%= academic_detail.university %></strong></p>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <% if @digital_cv.cv_languages.present? %>
        <div>
          <h4><i class="fa fa-language" aria-hidden="true"></i>&nbsp; LANGUAGES KNOWN</h4>
          <hr />
          <ul>
            <% @digital_cv.cv_languages.each do |cv_language| %>
              <%
                a = []
                a << 'Read' if cv_language.read?
                a << 'Write' if cv_language.write?
                a << 'Speak' if cv_language.speak?
              %>
              <li class="padding-5">
                <strong><%= cv_language.language.name %></strong>
                (<%= a.join(', ') %>)
              </li>
            <% end %>
          </ul>
        </div>
        <br>
      <% end %>
      <% if @digital_cv.trainings.present? %>
        <section >
          <h4><i class="fa fa-industry" aria-hidden="true"></i>&nbsp; TRAINING</h4>
          <hr>
          <ul>
            <% for trainingdata in @digital_cv.trainings %>
            <li>
              <p>Attended<strong> <%= trainingdata.duration %> </strong> days training on <strong> <%= trainingdata.name %></strong> from <strong><%= trainingdata.institute %></strong>
              </p>
              <p><%= trainingdata.info %></p>
            </li>
            <% end %>
          </ul>
        </section><br>
      <% end %>

      <% if @digital_cv.certifications.present? %>
        <div>
          <h4><i class="fa fa-certificate"></i>&nbsp; CERTIFICATION</h4>
          <table class="table">
            <% for certification in @digital_cv.certifications %>
              <tr>
                <td valign="top" width="15%">
                  <strong><%= certification.date %></strong>
                </td>
                <td width="85%" valign="top">
                  <p><strong><%= certification.title %></strong> by <%= certification.certifier %></p>
                </td>
              </tr>
            <% end %>
          </table>
        </div><br>
      <% end %>

      <% if @digital_cv.honor_and_awards.present? %>
        <div>
          <h4><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp; HONORS AND AWARDS</h4>
          <table class="table">
            <% for award in @digital_cv.honor_and_awards %>
              <tr>
                <td valign="top" width="15%"><strong><%= award.award_date.strftime("%d-%m-%Y") %></strong>
                </td>
                <td width="85%" valign="top" style="padding-top: 0px;">
                  <h5><strong><%= award.title %></strong>
                    <% if award.awarded_by.present? %>
                    by <%= award.awarded_by %>
                    <% end %>
                    at <%= award.company %>
                  </h5>
                </td>
              </tr>
            <% end %>
          </table>
          <hr>
        </div>
      <% end %>
      <br>

      <% if @digital_cv.research_or_project_details.present? %>
        <section>
          <h4>
            <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp; RESEARCH EXPERIENCE AND PROJECTS:
          </h4>
          <hr>
          <ul>
            <% for reseach in @digital_cv.research_or_project_details %>
              <li>
                <p>
                  <strong><%= reseach.title %></strong>
                  (  <%= reseach.duration %> days), <%= reseach.guide %>
                </p>
                <p><%= reseach.description %></p>
              </li>
            <% end %>
          </ul>
        </section>
        <br>
      <% end %>
      <% if @digital_cv.references.present? %>
        <section>
          <h4><i class="fa fa-users"></i>&nbsp; REFERENCES</h4>
          <hr>
          <ul>
            <% for reference in @digital_cv.references %>
              <li>
                <p>
                  <strong><%= reference.name %>, <%= reference.designation %></strong>
                </p>
                <p><%= reference.companyname %></p>
                <p><%= reference.contact_no %>, <%= reference.email %></p>
              </li>
            <% end %>
          </ul>
        </section><br>
      <% end %>
      <section>
        <h4>
          <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; ADDITIONAL INFORMATION
        </h4>
        <hr>
        <div class="col-md-6">
          <ul style="float:left;" class="list-unstyled">
            <% unless @digital_cv.personal_detail.nationality.nil? %>
              <li>
                <strong>Nationality: </strong>
                <%= @digital_cv.personal_detail.try(:nationality).to_s.capitalize %>
              </li>
            <% end %>
            <% unless @digital_cv.personal_detail.gender.nil? %>
              <li>
                <strong>Gender: </strong>
                <%= @digital_cv.personal_detail.try(:gender).to_s.capitalize %>
              </li>
            <% end %>
            <% unless @digital_cv.personal_detail.physical_challenged.nil? %>
              <li>
                <strong>Physically Challenged: </strong>
                <%= @digital_cv.personal_detail.try(:physical_challenged?) ? 'Yes' : 'No' %>
              </li>
            <% end %>
            <% if @digital_cv.personal_detail.hobbies_and_interest.present? %>
              <li>
                <p><strong>Hobbies and Interest-</strong>
                <%= raw @digital_cv.personal_detail.hobbies_and_interest %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6" style="float:left;">
          <ul class="list-unstyled">
            <% if @digital_cv.prefferred_location.present?%>
            <li>
              <strong>Preferred Location: </strong>
              <%= @digital_cv.preferred_location %>
            </li>
            <% end %>
            <% if @digital_cv.personal_detail.marital_status.present?%>
            <li>
              <strong>Marital Status: </strong>
              <%= @digital_cv.personal_detail.try(:marital_status).to_s.capitalize %>
            </li>
            <% end %>
          </ul>
        </div>
        <br><br>
      </section>
    </div>
    <div class="cv_declaration col-md-12" style="margin-top: 30px;">
      <div class="col-sm-offset-3">
        <h4 class="text-center">DECLARATION</h4>
        <br />
        <p>
          I hereby declare that information furnished above is true to best of my knowledge.
        </p>
      </div>
      <br>
      <div class="col-sm-offset-3">
        <p>
          <strong>Place:</strong><%= @digital_cv.city %>
          <strong>
            <span class="col-sm-offset-9">
              <%= @digital_cv.personal_detail.name %>
            </span>
          </strong>
        </p>
        <p>
          <strong>Date:</strong><%= Time.now.strftime("%d-%m-%Y") %>
        </p>
      </div>
    </div>
  </div>
</div>
