<div class="nested-fields">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <%= f.association :degree, label_html: { class: 'no-padding text-right' } %>
  <%= f.association :specialization, label_html: { class: 'no-padding text-right' } %>
  <%= f.input :institute, label_html: { class: 'no-padding text-right' }, input_html: { placeholder: 'e.g. Delhi college of Engineering, Delhi' } %>
  <%= f.input :university, label_html: { class: 'no-padding text-right' }, input_html: { placeholder: 'e.g. Delhi University, Delhi' } %>
  <%= f.input :percentage, label: 'Percentage/CGPA', label_html: { class: 'no-padding text-right' } %>
  <%= f.input :start_date, label_html: { class: 'text-right no-padding' }, input_html: { class: 'col-sm-9' } %>
  <span class="pull-right">
    <%= f.input :pursuing, inline_label: 'Still going here?' %>
  </span>
  <%= f.input :end_date, label_html: { class: 'text-right no-padding' }, wrapper_html: { class: 'col-sm-9' }, input_html: { disabled: f.object.pursuing? } %>
</div>
