<%= simple_form_for(@digital_cv, remote: true, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }, validate: true) do |f| %>
  <div class="col-md-12 margin-bottom-30">
    <h4 class="text-center">SUMMARY</h4>
    <hr />
    <%= f.error_notification %>

    <%= f.input :summary, label: 'Executive Summary', input_html: { rows: 5 }, require: true %>
    <%#= f.hint "Maximum 500 characters allowed" %>
    <%= f.input :objective, input_html: { rows: 5 } %>
    <%= f.input :employment_status, as: :radio_buttons, collection: [['Fresher', 'Fresher'], ['Employed', 'Employed'], ['Not Working', 'Not Working'], ['On Sabbatical', 'On Sabbatical']], label_method: :second, value_method: :first, item_wrapper_class: 'radio-inline'  %>
  </div>
  <div class="text-center">
    <%= f.button :submit, "Save and Continue", class: "btn btn-primary talent-fore-btn" %>
  </div>
<% end %>



