<div class="nested-fields employer-details">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <%= f.association :company, label: 'Employer Name', input_html: { class: 'cv_company' }, label_html: { class: 'text-right' } %>
  <%= f.association :job_title, label: 'Job Title', label_html: { class: 'text-right' } %>
  <%= f.input :start_date, label_html: { class: 'text-right col-sm-3' }, input_html: { class: 'col-sm-9' } %>
  <span class="pull-right">
    <%= f.input :present_job, inline_label: 'Still Working here?' %>
  </span>
  <%= f.input :end_date, label_html: { class: 'text-right col-sm-3' }, wrapper_html: { class: 'col-sm-9' } %>
  <%= f.input :responsibilities, label: 'Responsibilities' %>
  <%= f.input :achievement, label: 'Achievements' %>

  <hr />
  <script>
    $(".achievements:last,.keyresarea:last").wysihtml5({ toolbar: {
      'font-styles': false,
      'color': false,
      'emphasis': {
        'small': false
      },
      'blockquote': false,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false
      }
    });
  </script>
</div>

