<%= simple_form_for(@digital_cv, remote: true, html:{ class: 'form-horizontal' }) do |f| %>
  <div class="row margin-bottom-30">
    <div class="col-md-12">
      <h4 class="cont_hed_colr text-center">HONORS AND AWARDS</h4>
      <hr>
      <div class="honorandawards">
        <%= f.simple_fields_for :honor_and_awards do |honor_and_award| %>
          <%= render "honor_and_award_fields", f: honor_and_award %>
        <% end  %>
      </div>
      <div class="col-sm-offset-2">
        <%= link_to_add_association 'Add Honor and Awards', f, :honor_and_awards, class: 'adda btn btn-info talent-fore-btn', data: { association_insertion_node: '.honorandawards', association_insertion_method: :append } %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit "Save and Continue", class: "btn btn-primary talent-fore-btn" %>
  </div>
<% end %>
