<div class="container">
	<div class="row">
		<div class="col-md-12">
      <div class="col-md-10 text-center">
      	<h3 style="color: #24607D;">My Resumes</h3>
      </div>
      <div class="col-md-2 ask-question-1 text-right">
      	<a href="/digital-cvs/new" class="btn btn-primary">
      		<%= fa_icon 'file-pdf-o lg' %>
      		Create a new Resume
      	</a>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0" />
  <div class="row">
		<table class="table table-striped">
			<thead>
				<tr class="info">
					<th>Name</th>
					<th>Created On</th>
					<th>Last modified </th>
					<th>Status</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<% for cvdata in @digital_cvs %>
				<tr>
					<td><%= cvdata.cv_name %></td>
					<td><%= cvdata.created_at.strftime("%B %d, %Y") %></td>
					<td><%= cvdata.updated_at.strftime("%B %d, %Y") %></td>
					<% if cvdata.status == 1 %>
						<td>Completed</td>
					<% else %>
						<td>Pending</td>
					<% end %>
					<td >
						<%= link_to "Edit", edit_digital_cv_path(cvdata) , class: "btn btn-info" %>
							<%= link_to "Download", share_and_download_digital_cv_path(cvdata), class: "btn btn-primary" %>
							<%= link_to "Delete", digital_cv_path(cvdata), :data => { :confirm => "Are you sure?" }, :method => :delete , class: "btn btn-danger" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
