<div class="col-sm-12">
  <h4 class="text-left">Personal Information</h4>
  <hr />
</div>
<div class="form-group required">
  <%= f.label :nationality, "Nationality", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.collection_select :nationality, CS.get(), :first, :last, { include_blank: 'Select Nationality' }, :class => 'form-control select_country' %>
  </div>
</div>
<div class="form-group required">
  <%= f.label :date_of_birth, "Date Of Birth", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.text_field :date_of_birth, :class => 'form-control dobdate' %>
  </div>
</div>
<div class="form-group required">
  <%= f.label :gender, "Gender", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.radio_button :gender, 'Male', class: 'radio-inline' %> Male
    <%= f.radio_button :gender, 'Female',class:'radio-inline' %> Female
    <%= f.radio_button :gender, 'Other', class: 'radio-inline' %> Other
  </div>
</div>
<div class="form-group required">
  <%= f.label :marital_status, "Marital Status", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.radio_button :marital_status, 'Single', class: 'radio-inline' %> Single
    <%= f.radio_button :marital_status, 'Married',class:'radio-inline' %> Married
    <%= f.radio_button :marital_status, 'Other', class: 'radio-inline' %> Other
  </div>
</div>
<div class="form-group">
  <%= f.label :physical_challenged, "Physically Challenged", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.radio_button :physical_challenged, 'true', class: 'radio-inline' %> Yes
    <%= f.radio_button :physical_challenged, 'false', class: 'radio-inline' %> No
  </div>
</div>
<div class="form-group">
  <%= f.label :hobbies_and_interest, "Hobbies and Interest", class: 'control-label text-right col-sm-3' %>
  <div class="col-sm-9">
    <%= f.text_area :hobbies_and_interest, cols: 46, rows: 4, class: 'form-control'  %>
  </div>
</div>
