<div class="nested-fields">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <div class="col-sm-12">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :mobile, label: 'Contact Number' %>
    <%= f.input :company_name, label: 'Organization Name' %>
    <%= f.association :job_title, label: 'Designation' %>
  </div>

  <script>
    $(document).ready(function(){
      $("select").select2({
        tags: true
      });

      $('select').off('select2:select').on('select2:select',function(e){
        saveNewItem($(this), 'job_title');
      });
    });
  </script>
</div>
