<div class="nested-fields">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <div class="col-sm-12">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :mobile, label: 'Contact Number' %>
    <%= f.association :company, collection: get_company, prompt: 'Select Company', label: 'Company Name' %>
    <%= f.association :job_title, label: 'Designation' %>
  </div>
</div>
