<div class="nested-fields">
  <hr />
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <div class="col-sm-12">
    <%= f.input :title, label_html: { class: 'col-sm-2 no-right-padding' } %>
    <%= f.input :description, label: 'More Details', input_html: { class: 'project-description' }, label_html: { class: 'col-sm-2 no-right-padding' } %>
    <%= f.input "Duration" do %>
      <%= f.input :start_date, as: :date, start_year: Date.today.year - 50,
        end_year: Date.today.year, discard_day: true, order: [:month, :year], label: false, wrapper_html: { class: 'col-sm-4 no-padding' }, input_html: { class:
          'no-padding' } %>
      <div class='col-sm-4'>
        <%= f.hint "To", class: 'col-sm-1 padding-top-5 text-center margin-left_-40 to' %>
        <%= f.input :end_date, as: :date, start_year: Date.today.year - 50,
          end_year: Date.today.year, discard_day: true, order: [:month, :year], label: false, input_html: { class: "no-padding" } %>
      </div>
    <% end %>
    <%= f.input :url, label: 'Project URL', label_html: { class: 'col-sm-2 no-right-padding' } %>
    <%= f.input :guide, label: 'Guide Name', label_html: { class: 'col-sm-2 no-right-padding' } %>
  </div>
  <script>
    $(".project-description").wysihtml5({ toolbar: {
      'font-styles': false,
      'color': false,
      'emphasis': {
        'small': false
      },
      'blockquote': false,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false
      }
    });
  </script>
</div>
