<div class="nested-fields">
  <hr />
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <div class="form-group required">
    <%= f.label :title, 'Title', class: 'control-label col-sm-2 text-right' %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label :description, 'More Details', class: 'control-label col-sm-2 text-right' %>
    <div class="col-sm-9">
      <%= f.text_area :description, class: 'form-control project-description' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :guide, 'Guide Name', class: 'control-label col-sm-2 text-right' %>
    <div class="col-sm-9">
      <%= f.text_field :guide, class: 'form-control' %>
    </div>
  </div>

  <script>
    $(".project-description").wysihtml5({ toolbar: {
      'font-styles': false,
      'color': false,
      'emphasis': {
        'small': false
      },
      'blockquote': false,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false
      }
    });
  </script>
</div>
