<div class="c-document__content" id="creatorContent" style="transform: scale(1); height: 1400px;">

		<div class="page fFamilyTxtArimo pagePaddingTop20 pagePaddingRight20 pagePaddingBottom20 pagePaddingLeft20 secSpace15 colSpace20 dateLinesDouble dateSeparatorDash dateStickSeparatorFrom fStyleH1Bold fStyleH1LastBold fStyleH3Bold fStyleH4Bold fStyleH5Bold fStyleH6Italic fStylePersonalTitleBold pageSplitted" data-template="3" data-id="1f6352f2-ce55-4569-b346-61d34ea96580" data-colorset="4" data-language="en_EN" data-type="cv" data-name="My resume" data-first-name="John" data-last-name="Smith">

		<div class="dRow firstRow lastRow" style="height: 1400px;">

		<div class="dCol secTitPaddingTop2 secTitPaddingRight20 secTitPaddingBottom4 secTitPaddingLeft20 secTitMarginRight-20 secTitMarginBottom10 secTitMarginLeft-20 dateLayoutLine dateSeparatorDash dateStickSeparatorFrom colorTxtWhite3 colorNameWhite3 colorLastNameWhite3 colorPositionWhite3 colorImgBrdWhite3 colorImgBgWhite3 colorSecTitWhite3 colorSecTitBgDarkSilver2 colorSecTitBrdDarkSilver2 colorSecLineWhite3 colorSecPointWhite3 colorSecPointShadowWhite3 colorEntTitWhite3 colorEntSubWhite3 colorEntBoldWhite3 colorEntIcoWhite3 colorEntIcoBgDarkSilver2 colorIcoWhite3 colorIcoBgDarkSilver2 colorRatOnWhite3 colorRatOffDarkSilver2 colorRatAddDarkSilver2 colorBgDarkSilver3 colorBgHfDarkSilver3 colorDateWhite3 colorDateBgWhite3 firstCol" style="width: 30%; height: 1400px;">

		<div class="section sectionType1 sectionBasic fStyleH1Bold fStyleH1LastBold existingSection">

	<div class="entry existingEntry">
		<div class="secType1Acc">
			<div class="secType1AccInitials"></div>
		</div>
		<div class="secType1Container">
			<img class="profile" src="../salesprofpic/images.png" alt="">
			<h1>
				<span class="firstname"><%= f.user.first_name %></span>
				<span class="lastname"><%= f.user.last_name %></span>
			</h1>

		</div>
	</div>
</div>

<div class="section sectionType2 sectionPersonal existingSection">
<h3 class="title">
<span class="ico">
</span><span class="txt">Personal Info</span></h3>


<div class="entryContainer content">

	<div class="entry personalPhone existingEntry" data-order="2">
		<div class="pointer"></div>
		<div class="ico"></div>
		<h4 class="personalTitle">Phone</h4>
		<div class="personalText"><%= f.personal_detail.mobile %></div>
	</div>
	<div class="entry personalEmail entryExample existingEntry" data-order="3">
		<div class="pointer"></div>
		<div class="ico"></div>
		<h4 class="personalTitle">E-mail</h4>
		<div class="personalText"><a href="" rel="nofollow" target="_blank"><%= f.user.email %></a></div>
	</div>
	<div class="entry profileurl entryExample existingEntry" data-order="3">
		<div class="pointer"></div>
		<div class="ico"></div>
		<h4 class="personalTitle">Profile Url</h4>
		<div class="personalText"><a href="www.salesworld.in/buildCV/cvPdf?id=" rel="nofollow" target="_blank">www.salesworld.in/buildCV/cvPdf?id=</a></div>
	</div>
	<div class="entry personalTwitter entryExample existingEntry" data-order="203">
		<div class="pointer"></div>
		<div class="ico"></div>
		<h4 class="personalTitle">Linkedin</h4>
		<div class="personalText"><a href="abc" target="_blank" rel="nofollow"><%= f.personal_detail.linkedin_profile %></a></div>
		<br>
		<h4 class="personalTitle">Skype</h4>
		<div class="personalText"><a href="abc" target="_blank" rel="nofollow"><%= f.personal_detail.skype_username %></a></div>
		<br>
		<h4 class="personalTitle">Location</h4>

		<div class="personalText"><%= f.current_city %></div>


	</div>

	<div class="entry dateBirth personalBirthday existingEntry" data-birth-day="" data-birth-month="" data-birth-year="" data-order="5">
		<div class="pointer"></div>
		<div class="ico"></div>
		<h4 class="personalTitle">Date of birth</h4>
		<div class="personalText"><%= f.personal_detail.date_of_birth %></div>
	</div>



	<div class="section sectionType5 sectionEducation existingSection">
		<section class="skills-section section">
			<h3 class="section-title">Languages Known</h3>
			<div class="row" style="margin-left: 25px;">
				<div class="col-md-12">
					<ul class="langKnow">
						<li><span class="lang-desc"> ()</span></li>				                </ul>
					</div>
				</div>
			</section>

		</div>
	</div>

</div>
</div>


<div class="dCol secTitPaddingTop2 secTitPaddingBottom2 secTitMarginBottom10 secTitBorderTopWidth1 secTitBorderTopStyleSolid secTitBorderBottomWidth1 secTitBorderBottomStyleSolid dateLayoutColAll dateLinesDouble dateSeparatorDash dateStickSeparatorFrom colorTxtMediumBlack3 colorNameDarkSilver2 colorLastNameDarkSilver2 colorPositionDarkSilver2 colorImgBrdDarkSilver2 colorImgBgDarkSilver2 colorSecTitDarkSilver2 colorSecTitBgWhite3 colorSecTitBrdLightSilver3 colorSecLineLightSilver3 colorSecPointDarkSilver2 colorSecPointShadowDarkSilver1 colorEntTitMediumBlack3 colorEntSubMediumBlack3 colorEntBoldMediumBlack3 colorEntIcoWhite3 colorEntIcoBgDarkSilver3 colorIcoWhite3 colorIcoBgDarkSilver3 colorRatOnDarkSilver3 colorRatOffLightSilver3 colorRatAddDarkSilver3 colorBgWhite3 colorBgHfWhite3 colorDateMediumBlack3 colorDateBgDarkSilver2 lastCol" style="width: 70%; height: 1400px;"><div class="section sectionType4 sectionSummary secTitleOff existingSection">
	<h3 class="title"><span class="ico"></span><span class="txt" style="font-size:15px;">Carreer Objective</span></h3>
	<div class="entryContainer content"><div class="entry existingEntry">
		<div class="pointer"></div>
		<div class="text desc"><p><strong><span style="font-size:21px;">Career Objective</span></strong><br></p>

			<p></p></div>
		</div></div>
	</div>
	<div class="section sectionType6 carreerdet">
		<h3 class="title"><span class="ico"></span><span class="txt">Career Summary</span></h3>
		<h6>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="education-container">

							<ul class="list-unstyled contact-list">
								<li><span><strong>Total Experience:</strong>&nbsp; Years</span></li>
								<li><strong>Employment Status:</strong>&nbsp;</li>


							</ul>
						</div><!--//EMPLOYMENT-container-->
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled contact-list">

							<li class="email"><span><strong>Industry:</strong>&nbsp;</span></li>
							<li><span><strong>Current CTC:</strong>&nbsp;</span></li>

						</ul>
					</div></div></div></h6>
				</div><br><br><br><br><br><br><br><br>
				<div class="section sectionType6 sectionExperience existingSection">
					<h3 class="title"><span class="ico"></span><span class="txt">Experience(Employement History)</span></h3>

					26/12/2017<table>
					<tbody><tr>
						<th>Experience Tenure</th>
						<th>Details</th>
					</tr><tr>
					<td><strong>26/12/2017-26/12/2017</strong></td>
					<td><strong></strong><br>
						<br><br>
						<strong>Key Result Area:</strong><br>
						<strong>Achievement:</strong><br></td>
					</tr>
				</tbody></table>






			</div>

			<div class="section sectionType5 sectionEducation existingSection">
				<h3 class="title"><span class="ico"></span><span class="txt">Education</span></h3>
				<table class="table table-bordered tbl-cen tbltxt tableheadextr" id="t01"><tbody><tr class="info"><th class="tbl-cen">Degree/course</th><th class="tbl-cen">Specialisation</th><th class="tbl-cen">University/Institute</th><th class="tbl-cen">Passing Year</th><th class="tbl-cen">Grade/Percentage</th></tr><tr><td></td><td></td><td></td><td></td><td></td></tr></tbody></table>	</div>
				<div class="section sectionType7 sectionSkills ratingBar ratingTwoLines existingSection">
					<h3 class="title"><span class="ico"></span><span class="txt">Skills</span></h3>
					<h4>1.Core Competencies</h4>

					<div class="entry existingEntry">
						<div class="pointer"></div><h6 class="descShort"><p></p><p></p></h6>
						<div class="rating rating0"><div></div><div></div><div></div><div></div><div></div>
					</div>
					<div class="text descRating"><p>0</p><p></p></div>

				</div><br>
			</div>

			<h4>2.Computer Skills</h4>

			<br><h5>Begginner</h5><div class="entry existingEntry">
			<h6 class="descShort"><p></p><p></p></h6>


		</div><br>
		<br><br><h5>Intermediate</h5><div class="entry existingEntry">
		<h6 class="descShort"><p></p><p></p></h6>


	</div><br>
	<br><br><h5>Advanced</h5><div class="entry existingEntry">
	<h6 class="descShort"><p></p><p></p></h6>


</div><br>
</div></div></div>
</div>
<br>
<br><br>
