<div class="nested-fields">
  <div class="form-group col-sm-12 text-right">
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-xs' %>
  </div>
  <%= f.input :name, label: 'Training Name' %>
  <%= f.input :info, label: 'Brief Details' %>
  <%= f.input :institute, label: 'Institute Name' %>
  <%= f.input :duration, label: 'Duration(In Days)' %>
</div>
