<% content_for :title, "Digital CV | Create professional resume in minutes | Update your information" %>
<div class="digital-cv-form">
  <div class="container-fluid">
    <div class="row">
      <%= render 'blue_bar' %>
    </div>
    <div class="row padded-cv">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <h1>Build a Compelling CV</h1>
          <p>The easy to use and professionally designed digital CV builder enables your most <br>compelling qualities and information to stand out. Get noticed by top recruiters instantly!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container resume-editor">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix talent-fore-btn">
            <h3 class="panel-title pull-left">
              <div class="show-cv-name">
                <span><%= @digital_cv.name %></span>
                <button id='cv-name-change' class="btn-link glyphicon glyphicon-pencil" style="color: white;"></button>
              </div>
              <div class="edit-cv-name" style="display: none; color: black;">
                <%= form_for @digital_cv, url: update_cv_name_digital_cv_path(@digital_cv), remote: true, html: { style: 'display: inline;' }  do |form| %>
                  <%= form.text_field :name, required: true %>
                  <button type="submit" class="btn btn-link change-name">
                    <span class="glyphicon glyphicon-ok text-primary"></span>
                  </button>
                <% end %>
                <button type='cancel' id='remove-edit-cv-name' class="btn-link glyphicon glyphicon-remove" style="color: red; display: inline;"></button>
              </div>
            </h3>
            <div class="pull-right">
              <%= link_to "Preview", "#{digital_cv_path(@digital_cv)}/preview", class: 'btn btn-clock btn-primary btn-default' %>
              <%= link_to "Download", 'javascript:void(0)', class: 'btn btn-clock btn-default' %>
            </div>
          </div>
          <div class="panel-body no-padding">
            <div class="col-md-3 no-padding talent-fore-btn">
              <div class="resume-editor-left">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#contact-details" data-toggle="pill">
                      <%= fa_icon 'address-card', text: 'CONTACT DETAILS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#basic-information" data-toggle="pill">
                      <%= fa_icon 'info-circle', text: 'SUMMARY' %>
                    </a>
                  </li>
                  <% if @digital_cv.is_experienced? %>
                    <li>
                      <a href="#work-experience" data-toggle="pill">
                        <%= fa_icon 'suitcase', text: 'WORK EXPERIENCE' %>
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <a href="#education" data-toggle="pill">
                      <%= fa_icon 'graduation-cap', text: 'EDUCATION' %>
                    </a>
                  </li>
                  <li>
                    <a href="#languages-and-skills" data-toggle="pill">
                      <%= fa_icon 'gears', text: 'LANGUAGES & SKILLS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#trainings" data-toggle="pill">
                      <%= fa_icon 'university', text: 'TRAININGS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#certifications" data-toggle="pill">
                      <%= fa_icon 'certificate', text: 'CERTIFICATIONS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#honors-and-awards" data-toggle="pill">
                      <%= fa_icon 'trophy', text: 'HONORS & AWARDS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#researches-or-projects" data-toggle="pill">
                      <%= fa_icon 'tasks', text: 'RESEARCHES/PROJECTS' %>
                    </a>
                  </li>
                  <li>
                    <a href="#references" data-toggle="pill">
                      <%= fa_icon 'users', text: 'REFERENCES' %>
                    </a>
                  </li>
                  <li>
                    <a href="#personal-details" data-toggle="pill">
                      <%= fa_icon 'user-plus', text: 'PERSONAL DETAILS' %>
                    </a>
                  </li>
                </ul>
                <!-- <div class="dropdown">
                  <button class="btn btn-default btn-block" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false" data-step="3" data-intro="Click here to add more sections to your resume. You can add sections like &quot;Honors&quot;, &quot;Certifications&quot;, &quot;Languages&quot; etc.">
                    <i class="fa fa-plus-circle"></i> Add another section
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="javascript:void(0)" class="personal_details">Personal Details</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="trainings">Trainings</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="certifications">Certifications</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="honors">Honors and Awards</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="researches">Researches</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="projects">Projects</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="refrences">References</a>
                    </li>
                  </ul>
                </div> -->
              </div>
            </div>
            <div class="col-md-9">
              <div class="col-md-12 no-padding text-center">
                <strong>TIPS: </strong>
                Fields marked with <span class="red-star">*</span> are mandatory. However, to have enough content in your resume, please fill in all fields.
              </div>
              <div class="tab-content clearfix no-padding">
                <div id="contact-details" class="tab-pane fade in active">
                  <%= render 'contact_detail_form' %>
                </div>
                <div id="basic-information" class="tab-pane fade">
                  <%= render 'basic_information_form' %>
                </div>
                <% if @digital_cv.is_experienced? %>
                <div id="work-experience" class="tab-pane fade">
                  <%= render 'work_experience_form' %>
                </div>
                <% end %>
                <div id="education" class="tab-pane fade">
                  <%= render 'education_details_form' %>
                </div>
                <div id="languages-and-skills" class="tab-pane fade">
                  <%= render 'languages_and_skills_form' %>
                </div>
                <div id="trainings" class="tab-pane fade">
                  <%= render 'trainings_form' %>
                </div>
                <div id="certifications" class="tab-pane fade">
                  <%= render 'certifications_form' %>
                </div>
                <div id="honors-and-awards" class="tab-pane fade">
                  <%= render 'honors_and_awards_form' %>
                </div>
                <div id="researches-or-projects" class="tab-pane fade">
                  <%= render 'research_or_project_details_form' %>
                </div>
                <div id="references" class="tab-pane fade">
                  <%= render 'reference_form' %>
                </div>
                <div id="personal-details" class="tab-pane fade">
                  <%= render 'additional_details_form' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
