<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="text-center">
        <h3 style="color: #24607D;">SELECT A TEMPLATE</h3>
      </div>
      <%= form_for @digital_cv do |f| %>
        <% get_template.each_with_index do |template, index| %>
          <%= f.hidden_field :template_id, value: template.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="col-md-3 text-center margin-bottom-100">
            <%= image_tag "digital_cv/cvtemplateimage/#{template.name}.png", alt: "Template Blue", height: 200 %>
            <div class="text-center" style="margin-top: -80px;">
              <%= f.submit "Use this template", class: "btn btn-primary btn-xs talent-fore-btn" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
